<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="row">

        {% for producto in productos %}
            <div class="col-md-3"> <!-- esta declaración dice, en movil 1 sola imagen, en tablet y desktop 3 imagenes -->
                <div class="small">
                    {% if producto.inventario != 0 %}
                    <div class="card-image">
                       <center><img src="{{ url_for('static', filename='img/productos/' + producto.foto) }}"  width="200px" height="200px" class="img-thumbnail"/><br></center><br>
                        <p class="second"> {{  producto.nombre}}</p>
                    </div>
                    <div class="card-content">
                        <p class="second"> $ {{producto.precio}}</p>
                        <p class="second"> En existencia: {{producto.inventario}}</p>
                    </div>
                    <div class="card-action">
                        {% if g.user.is_authenticated %}
                         <a href="/productos/{{producto.id}}" class="waves-effect waves-light btn">Ver más</a>
                        <!--<button type="button" class="btn btn-primary" href="/productos/{{producto.id}}">Ver más</button>-->
                        {% endif%}
                    </div>
                    {% endif%}
                </div>
                <br>
            </div>
        {% endfor%}
        <style type="text/css">
            .second{
                font-size: 1.5em;
            }
            .small {
                border: 3px solid black;
            }
        </style>
    </div>
{% endblock %}
